<div class="sg-header_title">
<a class="sg-header_titleLink" href="<%- root%>">
<svg class="sg-header_titleImage">
<title>CONNECT</title>
<use xlink:href="#connectLogo"/>
</svg>
</a>
</div>
<!-- /.sg-header_title -->
