{
  "extends": "stylelint-config-standard",
  "rules": {
    "string-quotes": null,
    "no-duplicate-selectors": null,
    "color-named": "never",
    "selector-pseudo-element-colon-notation": null,
    "indentation": 0,
    "block-opening-brace-space-before": null,
    "block-opening-brace-space-after": null,
    "block-closing-brace-space-before": null,
    "block-closing-brace-space-after": null,
    "declaration-colon-space-before": null,
    "declaration-colon-space-after": null,
    "declaration-block-single-line-max-declarations": null,
    "declaration-block-semicolon-space-after": null,
    "declaration-block-trailing-semicolon": null,
    "declaration-bang-space-before": null,
    "selector-list-comma-newline-after": null,
    "selector-pseudo-class-no-unknown": null,
    "media-feature-colon-space-after": null,
    "at-rule-empty-line-before": null,
    "block-closing-brace-empty-line-before": null,
    "comment-empty-line-before": null,
    "selector-no-qualifying-type": null,
    "value-list-comma-space-after": null,
    "selector-combinator-space-after": null,
    "selector-combinator-space-before": null,
    "function-comma-space-after": null,
    "function-calc-no-unspaced-operator": null,
    "number-leading-zero": null,
    "no-missing-end-of-source-newline": null,
    "no-descending-specificity": null
  }
}
