<header role="banner" class="g-header" data-js-hamburger data-js-header>
<div class="g-header_fog" data-js-hamburger-overlay>
</div><!-- /.g-header_fog -->
<div class="g-header_inner">
<div class="g-header_root">
<div class="g-headerTitle">
<div class="g-headerLogo">
<a class="g-headerLogo_link" href="/">
<div class="g-headerLogo_tagline">サイトショルダー</div>
<div class="g-headerLogo_img">
<img src="/assets/img/logo.svg" alt="サイトタイトル" width="143" height="27">
</div>
</a>
</div><!-- /.g-headerLogo -->
<div class="g-headerSwitch" data-js-hamburger-switch>
<p class="g-headerSwitch_icon">
<a class="g-headerSwitch_iconLink g-headerSwitch_iconLink-search" href="#" data-js-hamburger-trigger="lang" aria-haspopup="false" aria-expanded="false">
<img class="i-button is-close" src="/assets/img/icons/ic_globe.svg" alt="言語切替メニューを開く">
<img class="i-button is-open" src="/assets/img/icons/ic_close.svg" alt="言語切替メニューを閉じる">
</a></p>
<p class="g-headerSwitch_icon">
<a class="g-headerSwitch_iconLink g-headerSwitch_iconLink-hamburger" href="#" data-js-hamburger-trigger="menu" aria-haspopup="false" aria-expanded="false">
<img class="i-button is-close" src="/assets/img/icons/ic_menu.svg" alt="メニューを開く">
<img class="i-button is-open" src="/assets/img/icons/ic_close.svg" alt="メニューを閉じる">
</a></p>
</div><!-- /.g-headerSwitch -->
</div><!-- /.g-headerTitle -->
<div class="g-headerMenu" data-js-dropdown>
<div class="g-headerMenu_inner" data-js-hamburger-content="" aria-hidden="false">
<div class="g-headerMenu_root">
<nav class="g-headerNav" data-js-hamburger-category="menu">
<ul class="g-headerNav_list">
<li class="g-headerNav_listItem">
<a class="g-headerNav_listItemLink" href="/">TOP</a>
</li><!-- /.g-headerNav_listItem -->
<li class="g-headerNav_listItem">
<a class="g-headerNav_listItemLink g-headerNav_listItemLink-current" href="#">カテゴリ</a>
</li><!-- /.g-headerNav_listItem -->
<li class="g-headerNav_listItem g-headerNavDropdown" data-js-dropdown-wrapper>
<a class="g-headerNav_listItemLink g-headerNavDropdown_trigger" href="#" data-js-dropdown-trigger aria-expanded="false">
ドロップダウンメニュー
<img class="i-label i-label-right open" src="/assets/img/icons/ic_tri_up.svg" alt="メニューを閉じる">
<img class="i-label i-label-right close" src="/assets/img/icons/ic_tri_down.svg" alt="メニューを開く"></a>
<div class="g-headerNavDropdown_content" data-js-dropdown-content aria-hidden="true">
<div class="g-headerNavDropdown_contentInner">
<p class="g-headerNavDropdown_link"><a href="#">カテゴリトップ</a></p>
<div class="g-headerNavDropdown_nav">
<div class="l-tile l-tile-4">
<div class="l-tile_item">
<div class="c-card">
<a href="#">
<div class="c-card_img c-img">
<img src="//picsum.photos/g/600/200/?gravity=north" alt="">
</div><!-- /.c-card_img -->
<p class="c-card_title">サブカテゴリ</p>
</a>
</div><!-- /.c-card -->
</div><!-- /.l-tile_item -->
<div class="l-tile_item">
<div class="c-card">
<a href="#">
<div class="c-card_img c-img">
<img src="//picsum.photos/g/600/200/?gravity=east" alt="">
</div><!-- /.c-card_img -->
<p class="c-card_title">サブカテゴリ</p>
</a>
</div><!-- /.c-card -->
</div><!-- /.l-tile_item -->
<div class="l-tile_item">
<div class="c-card">
<a href="#">
<div class="c-card_img c-img">
<img src="//picsum.photos/g/600/200/?gravity=south" alt="">
</div><!-- /.c-card_img -->
<p class="c-card_title">サブカテゴリ</p>
</a>
</div><!-- /.c-card -->
</div><!-- /.l-tile_item -->
<div class="l-tile_item">
<div class="c-card">
<a href="#">
<div class="c-card_img c-img">
<img src="//picsum.photos/g/600/200/?gravity=west" alt="">
</div><!-- /.c-card_img -->
<p class="c-card_title">サブカテゴリ</p>
</a>
</div><!-- /.c-card -->
</div><!-- /.l-tile_item -->
</div><!-- /.l-tile -->
</div><!-- /.g-headerNavDropdown_nav -->
</div><!-- /.headerNavDropdown_contentInner -->
</div><!-- /.headerNavDropdown_content -->
</li><!-- /.g-headerNav_listItem -->
<li class="g-headerNav_listItem g-headerNavDropdown" data-js-dropdown-wrapper>
<a class="g-headerNav_listItemLink g-headerNavDropdown_trigger" href="#" data-js-dropdown-trigger aria-expanded="false">
ドロップダウンメニュー
<img class="i-label i-label-right open" src="/assets/img/icons/ic_tri_up.svg" alt="メニューを閉じる">
<img class="i-label i-label-right close" src="/assets/img/icons/ic_tri_down.svg" alt="メニューを開く"></a>
<div class="g-headerNavDropdown_content" data-js-dropdown-content aria-hidden="true">
<div class="g-headerNavDropdown_contentInner">
<p class="g-headerNavDropdown_link"><a href="#">カテゴリトップ</a></p>
<div class="g-headerNavDropdown_nav">
<ul class="l-tile l-tile-4 l-gapNone">
<li class="l-tile_item"><a href="#">サブカテゴリ</a></li>
<li class="l-tile_item"><a href="#">サブカテゴリ</a></li>
<li class="l-tile_item"><a href="#">サブカテゴリ</a></li>
<li class="l-tile_item"><a href="#">サブカテゴリ</a></li>
<li class="l-tile_item"><a href="#">サブカテゴリ</a></li>
<li class="l-tile_item"><a href="#">サブカテゴリ</a></li>
<li class="l-tile_item"><a href="#">サブカテゴリ</a></li>
<li class="l-tile_item"><a href="#">サブカテゴリ</a></li>
</ul><!-- /.l-tile -->
</div><!-- /.g-headerNavDropdown_nav -->
</div><!-- /.g-headerNavDropdown_contentInner -->
</div><!-- /.g-headerNavDropdown_content -->
</li><!-- /.g-headerNav_listItem -->
</ul><!-- /.g-headerNav_list -->
</nav><!-- /.g-headerNav -->
<div class="g-headerSubNav" data-js-hamburger-category="menu">
<ul class="g-headerSubNav_list">
<li class="g-headerSubNav_listItem"><a class="g-headerSubNav_listItemLink" href="#">サブメニュー</a></li>
<li class="g-headerSubNav_listItem"><a class="g-headerSubNav_listItemLink" href="#">サブメニュー</a></li>
<li class="g-headerSubNav_listItem"><a class="g-headerSubNav_listItemLink" href="#">サブメニュー</a></li>
</ul><!-- /.headerSubNav_list -->
</div><!-- /.g-headerSubNav -->
<div class="g-headerSearch g-headerSearch-dropdown" data-js-hamburger-category="menu">
<div class="g-headerSearch_inner" data-js-dropdown-wrapper>
<a class="g-headerSearch_trigger" href="#" data-js-search-trigger data-js-dropdown-trigger aria-expanded="false"><img class="i-button i-button-small" src="/assets/img/icons/ic_search.svg" alt="検索ボタン"></a>
<div class="g-headerSearch_body" data-js-dropdown-content aria-hidden="true">
<div class="g-headerSearch_bodyInner">
<div class="l-grid l-grid-center">
<div class="l-grid_item l-grid_item-8-lg l-grid_item-12-md l-grid_item-12-sm">
<div class="c-searchBox">
<form class="c-searchBox_form" action="">
<input class="c-searchBox_input" type="text" placeholder="Placeholder" data-js-search-input>
<button type="submit" class="c-searchBox_submit">
<img class="i-button i-button-small" src="/assets/img/icons/ic_search.svg" alt="検索ボタン">
</button>
</form>
</div><!-- /.c-searchBox -->
</div><!-- /.l-griditem -->
</div><!-- /.l-grid -->
</div><!-- /.g-headerSearch_bodyInner -->
</div><!-- /.g-headerSearch_body -->
</div><!-- /.g-headerSearch_inner -->
</div><!-- /.g-headerSearch -->
<div class="g-headerLang" data-js-hamburger-category="lang">
<div class="g-headerLang_selector" data-js-dropdown-wrapper>
<a href="#" class=" g-headerLang_selected" data-js-dropdown-trigger aria-expanded="false">
<img class="i-label i-label-left" src="/assets/img/icons/ic_globe.svg" alt="言語切替">
Japanese
<img class="i-label i-label-right open" src="/assets/img/icons/ic_tri_down.svg" alt="言語切替メニューを開く">
<img class="i-label i-label-right close" src="/assets/img/icons/ic_tri_up.svg" alt="言語切替メニューを閉じる">
</a>
<div class="g-headerLang_content" data-js-dropdown-content aria-hidden="true">
<ul class="g-headerLang_list">
<li class="g-headerLang_listItem"><a class="g-headerLang_listItemLink" href="#">English</a></li>
<li class="g-headerLang_listItem"><a class="g-headerLang_listItemLink" href="#">Spanish</a></li>
<li class="g-headerLang_listItem"><a class="g-headerLang_listItemLink is-active" href="#">Japanese</a></li>
<li class="g-headerLang_listItem"><a class="g-headerLang_listItemLink" href="#">Chinese</a></li>
<li class="g-headerLang_listItem"><a class="g-headerLang_listItemLink" href="#">Korean</a></li>
</ul><!-- /.g-headerLang_list -->
</div><!-- /.g-headerLang_content -->
</div><!-- /.g-headerLang_selector -->
</div><!-- /.g-headerLang -->
</div><!-- /.g-headerMenu_root -->
</div><!-- /.g-headerMenu_inner -->
</div><!-- /.g-headerMenu -->
</div><!-- /.g-header_root -->
</div><!-- /.g-header_inner -->
</header><!-- /.g-header -->
